 	<% @messages.each do |msg|%>
 <div class="event">
		    <div class="content">
		      <div class="summary">
		      
		         <a> <%= User.find_by(id: msg.id).username.capitalize %> </a>: <%= msg.body %>
		        
		      </div>

		    </div>
		  </div>
	 <% end %>