<h2 class="ui center aligned big header"> Welcome to <%= @user.username %>'s page</h2>

<p class="ui center aligned big header" >Joined Message me : <%= time_ago_in_words(@user.created_at)  %> ago</p>